body{
    margin: 0px;
}

/* header part */
#body_header{
    height:65vh;
    background-image: url(macbook_mouse.jpg);
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
    padding-top: 0p;

}

/* horizontal list */
.horizontal-list{
    list-style: none;
    margin:0px;
    text-align: center;
    
}

/*horizontal list items*/

.horizontal-list li{
    display:inline-block;
    padding-left:10px;
    
    padding-top: 10px;
    
    
}

/*horizontal list items a tag*/

.horizontal-list li a{
    color:aliceblue;
    text-decoration: none;
    transition: color 1s , border-bottom 0.5s;
    

   
}

/* a hover */
.horizontal-list li a:hover{
    color:red;
    border-bottom: 1px solid cyan;
    
   
}
/* My Name */
h1{
    color:aliceblue;
    text-align: center;
    margin-top: 150px;
    font-size: 3rem;
    font-weight: 900;

}

/* social sites */

.horizontal-list li a img{
    padding-left: 10px;
    height: 25px;
    margin-top: -50px;
    border-radius:1px;
    
}

.horizontal-list li a img:hover{
    box-shadow: 0px 1px 1px 1px rgba(400,196, 196, 100);
    transition: box-shadow .5s;
}

/* profile image */
#my-image{
    height:13rem;
    width:13rem;
    margin:auto;
    margin-top:-100px;
    border: 10px solid white;
    border-radius: 50%;
} 
#my-image img{
    height:100%;
    width:100%;
    border-radius: 50%;
    
    
}

/* paragraph of about */
p{
    padding:5px 20% 20%;
    color: purple;
    word-spacing: 2px;
    text-shadow: 100px grey;
}

/* colorful words in paragraph */
span{
    color:blue;
}

